{
  "plugins": [
    [
      "import",
      {
        "libraryName": "tezign-ui",
        "libraryDirectory": "es",
        "style": "css"
      },
      "tezign-ui"
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./src"
        }
      }
    ]
  ]
}
