{
  "plugins": [
    "emotion",
    [
      "import",
      {
        "libraryName": "tezign-ui",
        "libraryDirectory": "es",
        "style": "css"
      },
      "tezign-ui"
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./src"
        }
      }
    ],
    "babel-plugin-macros",
    [
      "@emotion/babel-plugin-jsx-pragmatic",
      {
        "export": "jsx",
        "import": "__cssprop",
        "module": "@emotion/react"
      }
    ],
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "__cssprop",
        "pragmaFrag": "React.Fragment"
      }
    ]
  ]
}
